---
layout: default
title: Home
---

<div class="page callout">
  <p><em>In Search of Personalized Time</em> is an attempt to live unreal time in real-time world.</p>
  <p>We are building personal timekeepers and new measurements for moments based on individual perception of time. In this artistic endeavor to questions the global synchronization and the universal standard, we hope to facilitate a multitude of flows of time.</p>
  <p>In changing how we formalize time, one could stretch the present or – perhaps unfathomably – compress it. "Now," then, becomes a malleable space in which one can reorient the relationship between memory, action, and possible futures.</p>
  <p><a href="/about">Read more...</a></p>
  <img src="/public/img/cmm.png" class="hero">
</div>
<iframe width="800" height="450" src="https://www.youtube.com/embed/anycci3nKhY" frameborder="0" allowfullscreen></iframe>
<hr class="dark">

<ul class="post-list">
{% for post in site.posts %}
  <li>
    <span class="post-list-date">{{ post.date | date_to_string }}</span>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.excerpt }}
  </li>
{% endfor %}
</ul>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}, by {{ post.author }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
